@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,400;0,600;0,700;1,400&family=DM+Sans:ital,wght@0,400;0,500;0,600;0,700&display=swap');

@import "tailwindcss";

:root {
  --page-width-letter: 816px;
  --page-height-letter: 1056px;
  --page-content-width-letter: 624px;
}

@media print {
  @page {
    size: letter;
    margin: 1in;
  }
}
